
body{
    background-image: linear-gradient(to bottom, red, yellow);
    height: 1000px;
    font-family: fantasy, sans-serif;
}

p{
    font-size: large;
}

#purpletext{
    color: blueviolet;
}
#footer{
            color: white;
            padding: 10px;
            margin: 20px;
}

.card{
    background-color: azure;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

.card2{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

#whitetext{
    color: white;
}

@media (max-width: 500px) {
    body {padding: 15px;}

    p{ font-family: Arial, Helvetica, sans-serif;}
    
}